.form-group 
	.input-file
		overflow hidden
		float left
		
		input[type=file]
			opacity 0
			position relative
			margin-bottom -80px
			width 140px
			background-image url('/images/photo.png')
			background-size 100px
			background-repeat no-repeat
			padding 28px 0 28px 120px
			border none
		
		.file-upload-label
			opacity 0.7
			&:before
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				content "\f067"
				font-family: 'FontAwesome';
				font-size 30px
				padding-right 10px
						

	.image-group
		overflow hidden
		padding 20px
		
		.image-in-form
			position relative
			margin-bottom 20px
			margin-right 50px;
			float left
			
			.btn
				width 40px
				height 40px
				line-height: 40px;
				position absolute
				top -15px
				left 90px
				padding 0
				border-radius 20px
				&:hover
					background-color red
					color white