#react-admin
	.main-header
		// .logo
		// 	height: 54px;
		.sidebar-toggle
			padding 13px
	
	.navbar .navbar-nav > li > a 
		color white
		padding-top 15px
		padding-bottom 15px
		
	// i.fa
	// 	color white
		
	// .btn
	// 	height 40px
	// 	line-height 40px
	// 	border-radius 20px
	// 	&.btn-primary
	// 		background-color #3c8dbc
	// 		border-color #367fa9
			
			// &:hover
			// 	background red
			// 	color white
		// span
		// 	font-family "Raleway"
		// 	font-weight 700
		// 	color white

	.form-group 
		&.ckeditor-field
			.btn 
				margin-top 20px
				float right
		
		input[type=text]
			width 100%
			
		textarea
			width 100%
			min-height 300px
			
		p
			padding 0

		.cke_editable 
			padding 10px

		.input-file
			overflow hidden
			float left
			
			input[type=file]
				opacity 0
				position relative
				margin-bottom -80px
				width 140px
				background-image url('/images/photo.png')
				background-size 100px
				background-repeat no-repeat
				padding 28px 0 28px 120px
				border none
			
			.file-upload-label
				opacity 0.7
				&:before
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					content "\f067"
					font-family: 'FontAwesome';
					font-size 30px
					padding-right 10px
							

		.image-group
			overflow hidden
			padding 20px
			
			.image-in-form
				position relative
				margin-bottom 20px
				margin-right 50px;
				float left
				
				.btn
					width 40px
					height 40px
					line-height: 40px;
					position absolute
					top -15px
					left 90px
					padding 0
					border-radius 20px
					&:hover
						background-color red
						color white